@page
@model WebApplication2.Pages.CreateModel
@{
    ViewData["Title"] = "Nowa fuszka";
}

<form method="post">
    <input type="text" name="Localization" value="" />
    <input type="text" name="WorkerName" value="" />

    <input type="submit" />
</form>