@page
@model WebApplication2.Pages.CreateModel
@{
    ViewData["Title"] = "Nowa fuszka";
}

<link rel="stylesheet" href="css/form.css">

<form method="post">
    <label for="Localization">Lokalizacja</label><br>
    <input type="text" name="Localization" value="" />
    <label for="WorkerName">Wykonawca</label><br>
    <input type="text" name="WorkerName" value="" />
    <input type="submit"/>
</form>