@page
@model WebApplication2.Pages.EditModel
@{
    ViewData["Title"] = "Edytuj fuszke";
}

<link rel="stylesheet" href="css/form.css">

<form method="post">
    <input type="hidden" name="Id" value="@Model.Job.Id" />
    <input type="text" name="Localization" value="@Model.Job.Localization" />
    <input type="text" name="WorkerName" value="@Model.Job.WorkerName" />

    <input type="submit" />
</form>