@page
@model WebApplication2.Pages.galeriaModel
@{
    ViewData["Title"] = "Galeria";
}

<link rel="stylesheet" href="css/workpage.css">

<div class="Title">
    <h1>Galeria naszej firmy</h1>
</div>

<div class="ImageGallery">
    <img class="image" src="img/gal1.jpg" alt="OBRAZ">
    <img class="image" src="img/gal2.jpg" alt="OBRAZ">
    <img class="image" src="img/gal3.jpg" alt="OBRAZ">
    <img class="image" src="img/gal4.jpg" alt="OBRAZ">
    <img class="image" src="img/gal5.jpg" alt="OBRAZ">
    <img class="image" src="img/gal6.jpg" alt="OBRAZ">
    <img class="image" src="img/gal7.jpg" alt="OBRAZ">
    <img class="image" src="img/gal8.jpg" alt="OBRAZ">
    <img class="image" src="img/gal9.jpg" alt="OBRAZ">
</div>