@page
@model kontaktModel
@{
    ViewData["Title"] = "Kontakt";
}

<link rel="stylesheet" href="css/workpage.css">

<div class="MainContent">
    <div class="LeftContent">
        <h1>Kontakt</h1>
        <p class="">
            <b>Bogusław Łęcina usługi budowlano-remontowe</b><br>
            ul. Prószkowska 76, Parking<br>
            46-020 Opole<br>
            NIP 123-123-12-12<br>
            REGON 123123123<br>
            BDO 000000001
            <br><br>
            Tel: 120 000 255<br>
            Tel: 120 111 255<br>
            E-mail: boguslaw.lecina@remont.pl<br>
        </p>
    </div>

    <div class="RightContent">
        <iframe class="limitWidth" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2127.0760749799088!2d17.902989260155582!3d50.6543450500097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471053f6599a5f39%3A0x7b6c3cf4cc512be0!2sParking!5e0!3m2!1spl!2spl!4v1647382831858!5m2!1spl!2spl"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>