@page
@model WebApplication2.Pages.PracaModel
@{
    ViewData["Title"] = "Praca";
}

<link rel="stylesheet" href="css/workpage.css">

<div class="MainContent">
    <div class="">
        <h1>Rozważ pracę z nami!</h1>
    </div>

    <div class="">
        <h3>Aktualne oferty pracy</h3>
        W związku z dynamicznym rozwojem oraz pozyskaniem nowych kontraktów i realizacją
        budów na terenie całego kraju Firma poszukuje inżynierów, kierowników budów,
        serwisantów i pracowników fizycznych.
        Dzięki ustabilizowanej pozycji na rynku budowlanym,
        naszym pracownikom zapewniamy program szkoleń oraz pracę nad różnorodnymi projektami,
        dzięki którym mogą zdobywać nowe doświadczenia i umiejętności.
    </div>

    <div class="">
        <h3>Setki zadowolonych pracowników!</h3>
        Nasza firma wyjątkowo dba o pracownika. Nasi pracownicy mogą liczyć na przerwy obiadowe
        oraz na darmową kanapkę po 8 godzinnej zmianie.
    </div>

    <div class="">
        <b>W CV prosimy zawrzeć klauzulę:</b>
        "Wyrażam zgodę na przetwarzanie moich danych osobowych dla potrzeb niezbędnych do
        realizacji procesu rekrutacji zgodnie z Rozporządzeniem Parlamentu Europejskiego i
        Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w
        związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich
        danych oraz uchylenia dyrektywy 95/46/WE (RODO)."
    </div>

    <div class="">
        <video id="video1" width="560" height="315" src="videos/vid2.mp4" controls>
            Twoja przeglądarka nie wspiera odtwarzania video.
        </video>
    </div>

    <div class="">
        Umowa o dzieło,
        8 Godzin,
        12 złotych z metra.
    </div>
</div>